<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cross-Platform Desktop App Development (XPDA)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="_styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>XPDA.net</h1>
      <h2>Cross-Platform Desktop Apps (XPDA)</h2>
      <h3>Write Once Run Anywhere (WORA) development for desktop operating systems.</h3>
      <hr />
      <a href="https://github.com/xpdanet/xpdanet.github.io">Edit this page on GitHub.</a>
      <hr />
      <div id="app" v-cloak>
        <h3>Filter Controls:</h3>
        <div>
          <select v-model="filterType">
            <option value="subtractive">Supports at least one of these:</option>
            <option value="additive">Must support each selected:</option>
          </select>
          <p>Languages</p>
          <button
            v-for="(languageValue, languageKey) in languages"
            :key="'language' + languageKey"
            :class="languageValue.enabled ? 'active' : ''"
            :title="'Used by ' + languageValue.amount + ' tools'"
            class="btn"
            @click="toggleActive(languageValue)"
          >
            {{ languageKey }}
          </button>
        </div>
        <div>
          <p>Platforms</p>
          <button
            v-for="(platformValue, platformKey) in platforms"
            :key="'platform' + platformKey"
            :class="platformValue.enabled ? 'active' : ''"
            :title="'Used by ' + platformValue.amount + ' tools'"
            class="btn"
            @click="toggleActive(platformValue)"
          >
            {{ platformKey }}
          </button>
        </div>
        <h3>Tools ({{ filteredTools.length }})</h3>
        <div
          v-for="(tool, toolIndex) in filteredTools"
          :key="'tool' + toolIndex"
          :class="tool.deprecated ? 'deprecated' : ''"
          class="card"
        >
          <div class="card-header">
            <a v-if="tool.url" :href="tool.url" target="_blank" rel="noopener noreferrer">{{ tool.title }}</a>
            <span v-else>{{ tool.title }}</span>
          </div>

          <div class="card-body">
            <a
              v-if="tool.logo && tool.url"
              :href="tool.url" target="_blank" rel="noopener noreferrer"
            ><img
              :src="'_imgs/logos/' + tool.logo"
              :alt="tool.title + ' logo'"
              class="logo"
            /></a>
            <img
              v-else-if="tool.logo"
              :src="'_imgs/logos/' + tool.logo"
              :alt="tool.title + ' logo'"
              class="logo"
            />
            <div v-if="tool.languages.length">
              <strong>Languages:</strong> {{ tool.languages.join(', ') }}
            </div>

            <!-- Platforms/OS's -->
            <div v-if="tool.platforms && tool.platforms.length">
              <strong>Supported platforms:</strong> {{ tool.platforms.join(', ') }}
            </div>

            <!-- Pros and Cons -->
            <div v-if="tool.pros && tool.pros.length">
              <strong>Pros:</strong>
              <ul>
                <li v-for="(pro, proIndex) in tool.pros" :key="'tool' + toolIndex + 'pro' + proIndex">
                  {{ pro }}
                </li>
              </ul>
            </div>
            <div v-if="tool.cons && tool.cons.length">
              <strong>Cons:</strong>
              <ul>
                <li v-for="(con, conIndex) in tool.cons" :key="'tool' + toolIndex + 'con' + conIndex">
                  {{ con }}
                </li>
              </ul>
            </div>

            <!-- Frameworks and boilerplates -->
            <div v-if="tool.frameworks && tool.frameworks.length">
              <strong>Frameworks:</strong>
              <ul>
                <li
                  v-for="(framework, frameworkIndex) in tool.frameworks"
                  :key="'tool' + toolIndex + 'framework' + frameworkIndex"
                >
                  {{ framework.framework }} -
                  <a v-if="framework.url" :href="framework.url" target="_blank" rel="noopener noreferrer">{{ framework.title }}</a>
                  <span v-else>{{ framework.title }}</span>
                </li>
              </ul>
            </div>

            <!-- Tools,  build systems -->
            <div v-if="tool.tools && tool.tools.length">
              <strong>Tools:</strong>
              <ul>
                <li
                  v-for="(subTool, subToolIndex) in tool.tools"
                  :key="'tool' + toolIndex + 'subTool' + subToolIndex"
                >
                  {{ subTool.type }} -
                  <a v-if="subTool.url" :href="subTool.url" target="_blank" rel="noopener noreferrer">{{ subTool.title }}</a>
                  <span v-else>{{ subTool.title }}</span>
                </li>
              </ul>
            </div>

          </div> <!-- end .card-body -->
        </div> <!-- end .card -->
      </div> <!-- end #app -->

    </div> <!-- end .container -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script type="text/javascript" src="_scripts/app.js"></script>
    <link rel="stylesheet" href="_styles/fonts.css" />
  </body>
</html>
