<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cross-Platform Desktop App Development (XPDA)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="_styles/style.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div v-cloak id="app" class="container text-center">
      <github-corner></github-corner>
      <site-logo></site-logo>
      <h2>Cross-Platform Desktop Apps (XPDA)</h2>
      <h3>Write Once Run Anywhere (WORA) development for desktop operating systems.</h3>

      <hr />

      <div class="text-left">
        <h3>Filter Controls:</h3>
        <div>
          <select v-model="filterType">
            <option value="subtractive">Supports at least one of these:</option>
            <option value="additive">Must support each selected:</option>
          </select>
        </div>
        <div v-if="languages && languages.length">
          <p>Languages</p>
          <button
            v-for="(language, languageIndex) in languages"
            :key="'language' + languageIndex"
            :class="language.enabled ? 'active' : ''"
            :title="'Used by ' + language.amount + ' tools'"
            class="btn"
            @click="toggleActive(language)"
          >
            {{ language.title }}
          </button>
        </div>
        <div v-if="platforms && platforms.length">
          <p>Platforms</p>
          <button
            v-for="(platform, platformIndex) in platforms"
            :key="'platform' + platformIndex"
            :class="platform.enabled ? 'active' : ''"
            :title="'Used by ' + platform.amount + ' tools'"
            class="btn"
            @click="toggleActive(platform)"
          >
            {{ platform.title }}
          </button>
        </div>

        <div v-if="networkError" class="center">There was an error loading the data, refresh the page to try again</div>

        <div v-if="!tools || tools.length === 0" class="spinner"></div>

        <h3 v-if="tools && tools.length">Matching Tools ({{ filteredTools.length }}/{{ tools.length }})</h3>
        <div class="cards">
          <base-card
            v-for="(tool, toolIndex) in filteredTools"
            :key="'tool' + toolIndex"
            :tool="tool"
          ></base-card>
          <div v-if="filteredTools.length % 2 !== 0" class="card-spacer"></div>
        </div>
      </div> <!-- end #app -->

    </div> <!-- end .container -->

    <script type="text/javascript" src="//cdn.polyfill.io/v2/polyfill.min.js?features=String.prototype.startsWith,Promise"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.5/src/httpVueLoader.js"></script>
    <script type="text/javascript" src="_scripts/helpers.js"></script>
    <script type="text/javascript" src="_scripts/app.js"></script>
    <link rel="stylesheet" href="_styles/fonts.css" />
  </body>
</html>
