.card
    display: inline-block
    width: calc(100% - 22px)
    max-width: 695px
    border: 1px solid $black
    margin: 10px
    line-height: 1.2
    text-align: left

.card-header
    background: $defaultColor
    padding: 0px 11px
    font-family: $titleFont
    font-size: 22px
    font-weight: 700
    line-height: $cardHeaderHeight
    a,
    a:visited
        color: $white

.card-body
    height: $cardBodyHeight
    padding: 10px
    overflow: auto

.deprecated
    .card-header
        background: $grayD8
        border-color: $grayD8
        a,
        a:visited
            color: $gray61
    .card-body
        background: $grayEA
