.cards
    +center
    font-size: 0px

.card,
.card-spacer
    display: inline-block
    width: calc(100% - 22px)
    max-width: 695px
    margin: 10px
    font-size: 16px

.card
    border: 1px solid $black
    line-height: 1.2
    text-align: left

.unreviewed .card-header
    background: $unreviewed

.card-header
    background: $defaultColor
    padding: 0px 11px
    color: $white
    font-family: $titleFont
    font-size: 22px
    font-weight: 700
    line-height: $cardHeaderHeight
    a,
    a:visited
        color: $white

.card-body
    height: $cardBodyHeight
    padding: 10px
    overflow: auto

.deprecated
    .card-header
        background: $grayD8
        border-color: $grayD8
        a,
        a:visited
            color: $gray61
    .card-body
        background: $grayEA
    .expand,
    .shrink
        svg
            fill: $gray61

.expand,
.shrink
    cursor: pointer
    float: right
    svg
        fill: $white

.shrink
    display: none

.big-card
    .card
        max-width: 100%
    .card-body
        height: $cardBodyHeight * 2.1
    .shrink
        display: block
    .expand
        display: none
