.container
    max-width: 1450px
    background-color: $white
    background-image: url('../_imgs/xpda-top-bar.png')
    background-position: 0px -60px
    background-repeat: no-repeat
    background-size: 100% 127px
    border-radius: 35px 35px 9px 9px
    margin: 10px auto 40px auto
    padding: $containerPadding

.full
    width: 100%

.half
    display: inline-block
    width: 49%
    vertical-align: top
